@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.pointer-events-none { pointer-events: none; }
.cursor-pointer { cursor: pointer; }